<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="My App">
    <meta name="author" content="My Name">
    <meta name="theme-color" content="#ffffff">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/main.css") }}">
    
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}

    <script src="scripts.js"></script>
  </body>
</html>