{% extends 'base.html'%}

{% block head %} 
    <title> Task Manager </title>
    <style> 
        table { 
            width: 100%; 
            border-collapse: collapse;
        }
        th, td { 
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th { 
            background-color: #f2f2f2;
        }
    </style>

{% endblock %}

{% block body %} 

    <div> 
        <h1> Task Updated </h1> 
        <div class="form"> 
            <form action="/update/{{task.id}}" method="POST"> 
                <input type="text" name="content" id="content "placeholder="Task">
                <input type="date" name="due_date" id="due_date">
                <button type="submit" > Add Task </button>
            </form>
        </div>
    </div>
{% endblock %}